<!doctype html>
<html>
<head>
    <title>{% block title %}{% endblock %} yl.io URL shortener</title>
    <meta name="description" content="Another useless free URL shortener">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    {% assets "css" %}<link type="text/css" rel="stylesheet" href="{{ ASSET_URL }}">{% endassets %}
    {% assets "js" %}<script type="text/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}

</head>
<body>

    <div class="container">
        {% block body %}{% endblock %}
        <div id="colour"></div>
    </div>

<script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '51966412f5a1f579090001cb');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>
</body>
</html>